body{
  background-color:#f7fcfe;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.register-btn{
	width:150px;
	margin-top:20px;
}

.machine-icon{
	width:75px;
	height:75px;
}
