body{
	height:100%;
	width:100%;
	overflow:hidden;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.register-btn{
	width:150px;
	margin-top:20px;
}

.machine-icon{
	width:75px;
	height:75px;
}

.index-top{
	background:url('../image/congruent_outline.png');
}

.buttom-nav {
	margin-left:30%;
	margin-top:5%;
	margin-bottom:5%;
}

.re-lo-div{
	color:white;
	margin-top:10%;
	margin-bottom:10%;	
}

.re-lo-div input[class='form-control']{
	margin-top:10px;
}

.re-lo-div button[type='submit']{
	width:100%;
}
