body{
	height:100%;
	width:100%;
	overflow-x:hidden;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.register-btn{
	width:150px;
	margin-top:20px;
}

.machine-icon{
	width:75px;
	height:75px;
}

.index-top{
	background:url('../image/congruent_outline.png');
}

.buttom-nav {
	margin-left:30%;
	margin-top:5%;
	margin-bottom:5%;
}

.re-lo-div{
	color:white;
	margin-top:10%;
	margin-bottom:10%;	
}

.re-lo-div input[class='form-control']{
	margin-top:10px;
}

.re-lo-div button[type='submit']{
	width:100%;
}

.main{
	width:100%;
	height:100%;
	background-image:url('../image/wallpaper-1468887.jpg');
}

.top{
	width:100%;
	height:65px;
	background:white;
	padding:10px;
	z-index:9999;
        position: relative;
}

.top-nav{
	width:100%;
	height:100%;
	font-size:18px;
}

.left-nav{
	width:320px;
	height:100%;
	background:#000000;
        opacity:0.6;
	padding-top:30px;
}

.st-intro{
	width:100%;
	height:40%;
	text-align:center;
	color:white;
}

.st-intro .nav-subheader p{
	margin-top:30px;
	font-size:30px;
}

.st-intro .nav-intro{
	font-size:20px;
	color:rgb(197, 56, 56);
}

.st-bt{
	margin-top:150px;
	margin-left:40px;
}

.st-bt a[type="button"]{
	width:200px;
	font-size:24px;
	color:white;
	background:#334D41;
}

#mt-bt{
	margin-top:20px;
}

.main-content{
	margin-top:50px;	
}

.tag{
	height:340px;
	margin-top:20px;
}

.caption p{
	margin-top:20px;
}

.caption .tag-intro{
	padding-left:25px;
	height:60px;
}

.tag-button{
	width:98px;
}

.main-content .row{
	margin-top:10px;
}

.modal-content{
	margin-top:200px;
}

.machine-panel{
	height:120px;
	margin-top:20px;
	padding-top:10px;
}


.machine-btn-group{
	margin-top:33px;
}

.deadline{
	padding-top:30px;
}

.add-button{
	margin-left:100px;
}

.gra{
	height:80%;
	margin-top:80px;
	margin-left:80px;
}

#myChart{
	margin-top:150px;
}
